{% load i18n %}
<footer class="footer-middle">
    <div class="footer-content">
        <div class="footer-main">
            <div class="item key-words">
                <div class="footer-static-block">
                    <div class="th"><span>SARA EUROPE EXIM</span></div>
                    <ul class="footer-block-contant">
                        <li><i></i><a href="#">{% trans 'FE LLC “SARA EUROPE EXIM”' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="item footer-contactus">
                <div class="footer-static-block">
                    <div class="th"><a href="{% url 'contact' %}">{% trans 'Contact Us' %}</a></div>
                    <ul class="footer-block-contant">
                        <li><label><i class="iconfont">&#xe60b;</i></label><a
                                href="https://goo.gl/maps/2F7npDZtKNfpv8am8" target="_blank">160600, Namangan Region, Toshbulok City, Kh.Okhunova 2, Republic of Uzbekistan</a></li>
                        <li><label><i class="iconfont">&#xe651;</i></label><a
                                href="mailto:info@saraeurope.uz">info@saraeurope.uz</a> </li>
                        <li><label><i class="iconfont">&#xe605;</i></label><a
                                href="tel:998993993818">+998 (99) 399 38 18</a></li>
                    </ul>
                </div>
            </div>
            <div class="item key-words">
                <div class="footer-static-block">
                    <div class="th"><a target="_blank" href="https://goo.gl/maps/6CRQZrDf24Y9JAt77">{% trans 'Location' %}</a></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1021.5103782569676!2d71.59239934086622!3d40.928190952922826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb4921271c3fed%3A0xe1600caa417bb03f!2s%22Sara%20Europe%20Exim%22%20LLC!5e1!3m2!1sru!2s!4v1666465659626!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="footer-secondary-box">
            <p>Copyright by © SARA EUROPE EXIM Inc.</p>
        </div>
    </div>
</footer>