{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %} {% trans 'About Us' %} {% endblock %} 


{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
<div class="section">
    <div class="container p-3">
        <h1 class="text-center">{% trans 'About Us' %}</h1>
        <div class="about_context">
            <div class="about_left_context">
                <div>
                    {{ about.context | safe }}
                </div>
            </div>
            <div class="about_right_context">
                <img src="{% static '/2791/logo.png' %}" alt="">
            </div>
        </div>
        <div class="photo_card">
            <div class="pic">
                <img src="{% static '/2791/fon4.jpg' %}" alt="">
            </div>
            <div class="pic">
                <img src="{% static '/2791/fon2.jpg' %}" alt="">
            </div>
            <div class="pic">
                <img src="{% static '/2791/fon3.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}