{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %} {% trans 'Gallery' %} {% endblock %} 


{% block content %}

<div class="container1">
    <h1>{% trans 'Gallery' %}</h1>
    <div class="image-container">
        {% for img in gallery %}
        <div class="image"><img src="{{ img.picture.url }}" alt=""></div>
        {% endfor %}
    </div>
    <div class="popup-image">
        <span>&times;</span>
        <img src="" alt="">
    </div>
</div>

<script>
    document.querySelectorAll('.image-container img').forEach(image => {
        image.onclick = () => {
            document.querySelector('.popup-image').style.display = 'block';
            document.querySelector('.popup-image img').src = image.getAttribute('src');
        };
    });
    document.querySelector('.popup-image span').onclick = () => {
        document.querySelector('.popup-image').style.display = 'none';
    }
</script>
{% endblock %}